@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap")
    format("truetype");
}

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Home Page*/

body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 100%;
}

.welcome {
  text-align: end;
}

.cta-welcome {
  color: black;
  display: contents;
}

.cta__home {
  display: inline-block;
  padding-left: 32px;
  background-color: #f59f05;
  padding-right: 32px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  color: black;
}

.cta-home {
  padding: 10px;
  color: black;
}

.search {
  margin-left: 700px;
}

i {
  padding: 15px;
  color: black;
}

ul li {
  display: inline-flex;
}

a {
  text-decoration: none;
}

h1 {
  padding-left: 50px;
  color: #f59f05;
}

.homepage-face {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding-left: 60px;
  grid-template-rows: auto 1fr auto;
  min-height: 65vh;
}

.homepage-face img {
  width: 90%;
}

/*Sign In*/

.h2-signin {
  width: 171px;
  margin: 21px auto;
}

.c-account {
  width: 121px;
  margin: 21px auto;
  border: 1px solid #707070;
}

.h1-signin {
  width: 226px;
  margin: 21px auto;
  color: black;
}

.signin-input {
  width: 200px;
  margin: 0 auto;
  display: grid;
  margin: 0 auto;
}

.log-in {
  margin-top: 3px;
  text-align: center;
  color: black;
  background-color: #f59f05;
  display: grid;
  padding: 5px;
}

.f-passord {
  text-align: center;
  color: #0008ff;
}

/* About Us*/
.about-us-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding-left: 60px;
  grid-template-rows: auto 1fr auto;
  min-height: 55vh;
}

.about-us-p {
  max-width: 500px;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}

.about-us-img img {
  width: 90%;
}

.h1-about-us {
  text-align: center;
  color: #f59f05;
  font-size: x-large;
}

/*Help*/

.h2-help {
  text-align: center;
  width: 200px;
  border: 5px solid black;
  color: white;
  background-color: black;
  margin: 0 auto;
}

/* Mens&Bestseller and womens&bestseller*/

.h2-mens {
  text-align: center;
}

.mens-face {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.mens-face img {
  width: 100%;
}

.products {
  display: flex;
  width: 100%;
  max-height: 490px;
  overflow: hidden;
}

.product-img-men1 {
  margin-top: 15px;
}

.product-img-men {
  width: 50%;
  object-fit: cover;
  padding: 10px;
}

.product-specific {
  display: flex;
  flex-direction: column;
}

.product-wiev {
  margin-top: auto;
  padding: 10px;
  color: black;
  background-color: #f59f05;
  padding: 5px;
  text-align: center;
}

/*product specific women*/

.women-spec-page img {
  width: 100%;
}

.products-women-page {
  display: flex;
  width: 100%;
  max-height: 590px;
  overflow: hidden;
}

.womens-face {
  display: flex;
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}

/*product Specific Men*/

.mens-spec-page img {
  width: 100%;
}

.products-men-page {
  display: flex;
  max-height: 531px;
  overflow: hidden;
}

/*Help*/

.help-1 {
  text-align: center;
  padding-right: 25px;
  padding-bottom: 10px;
}

.help-nav {
  padding: 5px;
  border: 3px solid #707070;
  background-color: #e4e4e4;
}

/*Checkout Men*/
.main-payment {
  background-color: black;
  margin: auto;
  color: white;
  text-align: center;
  width: 244px;
  padding: 40px;
}

.payment-h2 {
  text-align: center;
}

.payment-method {
  width: 200px;
  margin: 0 auto;
  display: flex;
}

.payment-name {
  width: 138px;
  display: flex;
  margin: auto;
}

.payment-details {
  width: 200px;
  margin: 0 auto;
}

.checkout-h3 {
  text-align: center;
  background-color: #f59f05;
  color: black;
}

.type-details1 {
  padding: 5px;
}

.type-details2 {
  padding: 5px;
  color: black;
  background-color: white;
}

.checkout-img {
  width: 500px;
  padding: 70px;
}

.checkout-face {
  margin: auto;
}

.jacket-checkout {
  margin: auto;
}

.checkout-button {
  background-color: #f59f05;
  width: 171px;
  color: black;
}

.checkout-completed {
  margin: auto;
  background-color: white;
}

.checkout-body {
  background-color: black;
}

/* Links*/

.top-footer2 {
  padding-bottom: 1px;
  background-color: black;
  margin-bottom: 50px;
}

.top-footer {
  padding-bottom: 20px;
  background-color: black;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
